{
  "presets": ["@babel/preset-env"],
  "plugins": ["add-module-exports", "macros"],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node", "transform-es2015-modules-commonjs"]
    }
  }
}
